<template>
  <button
    class="w-8 h-8 bg-gray-200 dark:bg-gray-600 rounded-full flex justify-center items-center"
    @click="toggleColorMode"
  >
    <Icon
      :name="mode.preference === 'dark' ? 'ph:moon-duotone' : 'ph:sun-duotone'"
      :class="mode.preference === 'dark' ? 'text-gray-200' : 'text-gray-800'"
    />
  </button>
</template>

<script setup lang="ts">
const mode = useColorMode();

function toggleColorMode() {
  mode.preference = mode.preference === "dark" ? "light" : "dark";
}
</script>
