<template>
  <div>
    <lenis @scroll="onScroll">
      <ThePageWrapper>
        <NuxtPage />
      </ThePageWrapper>
    </lenis>
  </div>
</template>

<script setup lang="ts">
const appConfig = useAppConfig();

useHead({
  title: appConfig.title,
  meta: [
    {
      name: "description",
      content: appConfig.description,
    },
  ],
});

function onScroll() {
  console.log("scrolling");
}
</script>
