<template>
  <div
    class="flex min-h-screen w-full flex-col bg-white dark:bg-black transition-colors duration-300 ease-in-out text-gray-900 dark:text-gray-100"
  >
    <slot />
  </div>
</template>
