<template>
  <div
    class="overflow-hidden transition-transform duration-500 ease-in-out"
    :class="!down || isOnTop ? '-translate-y-16' : 'translate-y-0'"
  >
    <div
      class="flex justify-between max-w-screen-2xl mx-auto p-4 2xl:px-0 items-center"
    >
      <UiLogo />
      <div class="flex gap-4 ml-auto items-center">
        <nav>
          <ul class="flex gap-2 dark:text-white text-black">
            <li v-for="item in navItems" :key="item.name">
              <a
                :href="item.href"
                class="hover:text-primary-dark"
                @click="lenis.scrollTo(item.href)"
              >
                {{ item.name }}
              </a>
            </li>
          </ul>
        </nav>
        <UiButtonTheme />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const { lenis } = useLenis() as { lenis: any };

const navItems = [
  { name: "Home", href: "#home" },
  { name: "Presentation", href: "#presentation" },
  { name: "About", href: "#about" },
];

const isOnTop = ref(true);
const down = ref(false);

onMounted(() => {
  lenis.value.on("scroll", (e: any) => {
    isOnTop.value = e.targetScroll === 0;
    down.value = e.direction === 1;
  });
});
</script>
