<template>
  <div :class="sizeClass">Naïm Khalifa</div>
</template>

<script setup lang="ts">
import { defineProps } from "vue";

const props = withDefaults(
  defineProps<{
    size?: "small" | "medium" | "large";
  }>(),
  {
    size: "medium",
  }
);

const sizeClasses = {
  small: "text-2xl",
  medium: "text-3xl",
  large: "text-9xl",
};

const sizeClass = sizeClasses[props.size] || sizeClasses.medium;
</script>
