@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 81, 198, 219;

    font-family: 'Playfair Display', sans-serif;
  }

  /* 
  add dark mode
  :root[class~="dark"] {}
   */
}