<template>
  <UiSection
    class="flex justify-center items-center h-screen pointer-events-none"
    id="home"
    ref="el"
  >
    <UiLogo
      size="large"
      class="fixed"
      :style="{
        opacity: 1 - y / (100 * 8),
      }"
    />
  </UiSection>
</template>

<script setup lang="ts">
const { lenis } = useLenis() as { lenis: any };

const y = ref(0);

onMounted(() => {
  lenis.value.on("scroll", (e: any) => {
    y.value = e.targetScroll;
  });
});
</script>
